<script>
  var dataBySchema = {};
</script>
<div class='container'>
  <h1>Scenario operations graph</h1>
  <div id="scenarios_graph"></div>
  <% for(var schema in statistics) { %>
  <h2><%= schema %></h2>
  <table class="table table-striped table-hover table-condensed table-bordered">
    <tbody>
      <tr>
        <td>Mean</td>
        <td><%= statistics[schema].mean %></td>
        <td>microseconds</td>
      </tr>
      <tr>
        <td>Standard Deviation</td>
        <td><%= statistics[schema].standardDeviation %></td>
        <td>microseconds</td>
      </tr>
      <tr>
        <td>Variance</td>
        <td><%= statistics[schema].variance %></td>
        <td>microseconds</td>
      </tr>
      <tr>
        <td>Minimum</td>
        <td><%= statistics[schema].min %></td>
        <td>microseconds</td>
      </tr>
      <tr>
        <td>Maximum</td>
        <td><%= statistics[schema].max %></td>
        <td>microseconds</td>
      </tr>
    </tbody>
  </table>
  <script>
  <%
    // Filtered entries
    var filtered = {};
    // Filter all the redundant data out of the full data set
    for(var name in entries[schema]) {
      var filteredData = entries[schema][name].length;
      // Return the filtered data
      filtered[name] = filteredData;
    } 
  %>dataBySchema["<%- schema %>"] = <%- JSON.stringify(filtered) %>;
  </script>
  <% } %>
</div>

<!-- Generate the graph -->
<script>
    var names = [<%- Object.keys(statistics).map(function(x) { return '"' + x + '"'; }).join(',') %>];

    // Start and end point
    var startPoint = Number.MAX_VALUE;
    var endPoint = 0;
    
    // Create a dataset with items
    var dataset = new vis.DataSet({
        type: {start: 'ISODate', end: 'ISODate' }
    });

    // Set and start points
    var container = document.getElementById('scenarios_graph');

    // Clear the data set
    dataset.clear();

    // Dataset data
    var dataArray = [];
    // Index of data item in set
    var i = 0;
    // Create the groups
    var groups = new vis.DataSet();
    // Add all the groups
    for(var groupId = 0; groupId < names.length; groupId++) {
      groups.add({
        id: groupId, content: names[groupId], options: {}
      });

      // Load the data
      var data = dataBySchema[names[groupId]];

      // Go over all the data
      for(var timestamp in data) {
        // Parse the date
        // var date = moment(parseInt(timestamp, 10));
        var date = new Date();
        date.setTime(parseInt(timestamp, 10));

        // Adjust start and end point
        if(date.getTime() < startPoint) startPoint = date;
        if(date.getTime() > endPoint) endPoint = date;

        // Push to array
        dataArray.push({
          id: i++, x: date, y: data[timestamp], group: groupId
        });
      }
    }

    // Set the data for the graph
    dataset.add(dataArray);

    // Graph charting examples
    var options = {
      defaultGroup: 'ungrouped',
      legend: true,
      sampling: true,
      catmullRom: false,
      start: moment(startPoint),
      end: moment(endPoint),
      clickToUse: true
    };

    // Create graph
    var graph2d = new vis.Graph2d(container, dataset, groups, options);
</script>