<html>
<head>
</head>
<body>
<hr/>
<h1>Schema Executions</h1>
<hr/>
<% for(var i = 0; i < schemaGraphs.length; i++) { %>
  <h2><%= schemaGraphs[i].name %></h2>
  <img src='./<%= schemaGraphs[i].filename %>'/>
  <% if(runtime.schemas[schemaGraphs[i].name] != null && runtime.schemas[schemaGraphs[i].name].mean == null) { %>
    <h3>Execution Details</h3>
    <table>
      <tbody>
        <tr>
          <td>Processes</td>
          <td><%= runtime.processes %></td>
        </tr>
        <tr>
          <td>Type</td>
          <td><%= runtime.schemas[schemaGraphs[i].name].type %></td>
        </tr>
        <tr>
          <td>Resolution in milliseconds</td>
          <td><%= runtime.schemas[schemaGraphs[i].name].resolution %></td>
        </tr>
        <tr>
          <td>Iterations run</td>
          <td><%= runtime.schemas[schemaGraphs[i].name].iterations %></td>
        </tr>
        <tr>
          <td>Number of users</td>
          <td><%= runtime.schemas[schemaGraphs[i].name].numberOfUsers %></td>
        </tr>
        <tr>
          <td>Execution strategy</td>
          <td><%= runtime.schemas[schemaGraphs[i].name].tickExecutionStrategy %></td>
        </tr>
      </tbody>
    </table>
  <% } %>
  <% if(statistics[schemaGraphs[i].name] && statistics[schemaGraphs[i].name].mean) { %>
  <h2>Statistics</h2>
  <table>
    <tbody>
      <tr>
        <td>Mean</td>
        <td><%= Math.round(statistics[schemaGraphs[i].name].mean) %>  microseconds</td>
      </tr>
      <tr>
        <td>Standard Deviation</td>
        <td><%= Math.round(statistics[schemaGraphs[i].name].standardDeviation) %> microseconds</td>
      </tr>
      <tr>
        <td>Variance</td>
        <td><%= Math.round(statistics[schemaGraphs[i].name].variance) %> microseconds</td>
      </tr>
      <tr>
        <td>Min</td>
        <td><%= Math.round(statistics[schemaGraphs[i].name].min) %> microseconds</td>
      </tr>
      <tr>
        <td>Max</td>
        <td><%= Math.round(statistics[schemaGraphs[i].name].max) %> microseconds</td>
      </tr>
    </tbody>
  </table>
  <% } %>
<% } %>

<p/>
<hr/>
<h1>Topology Operation Counters </h1>
<hr/>
<% for(var i = 0; i < serverGraphs.length; i++) { %>
  <h2><%= serverGraphs[i].name %></h2>
  <img src='./<%= serverGraphs[i].filename %>'/>
<% } %>
</body>
</html>