<html>
<head>
</head>
<body>
<% for(var i = 0; i < graphs.length; i++) {%>
  <img src='./<%= graphs[i].filename %>'/>
  <% if(statistics[graphs[i].name]) { %>
  <table>
    <tbody>
      <tr>
        <td>Mean</td>
        <td><%= Math.round(statistics[graphs[i].name].mean) %>  microseconds</td>
      </tr>
      <tr>
        <td>Standard Deviation</td>
        <td><%= Math.round(statistics[graphs[i].name].standardDeviation) %> microseconds</td>
      </tr>
      <tr>
        <td>Variance</td>
        <td><%= Math.round(statistics[graphs[i].name].variance) %> microseconds</td>
      </tr>
      <tr>
        <td>Min</td>
        <td><%= Math.round(statistics[graphs[i].name].min) %> microseconds</td>
      </tr>
      <tr>
        <td>Max</td>
        <td><%= Math.round(statistics[graphs[i].name].max) %> microseconds</td>
      </tr>
    </tbody>
  </table>
  <% } %>
<% } %>
</body>
</html>