<html>
<head>
</head>
<body>
<% for(var i = 0; i < graphs.length; i++) { %>
  <h1><%= graphs[i].name %></h1>
  <img src='./<%= graphs[i].filename %>'/>
  <hr/>
  <% if(graphs[i].name != 'server_monitoring') { %>
    <h2>Execution Details</h2>
    <table>
      <tbody>
        <tr>
          <td>Processes</td>
          <td><%= runtime.processes %></td>
        </tr>
        <tr>
          <td>Type</td>
          <td><%= runtime.schemas[graphs[i].name].type %></td>
        </tr>
        <tr>
          <td>Resolution in milliseconds</td>
          <td><%= runtime.schemas[graphs[i].name].resolution %></td>
        </tr>
        <tr>
          <td>Iterations run</td>
          <td><%= runtime.schemas[graphs[i].name].iterations %></td>
        </tr>
        <tr>
          <td>Number of users</td>
          <td><%= runtime.schemas[graphs[i].name].numberOfUsers %></td>
        </tr>
        <tr>
          <td>Execution strategy</td>
          <td><%= runtime.schemas[graphs[i].name].tickExecutionStrategy %></td>
        </tr>
      </tbody>
    </table>
  <% } %>
  <% if(statistics[graphs[i].name]) { %>
  <h2>Statistics</h2>
  <table>
    <tbody>
      <tr>
        <td>Mean</td>
        <td><%= Math.round(statistics[graphs[i].name].mean) %>  microseconds</td>
      </tr>
      <tr>
        <td>Standard Deviation</td>
        <td><%= Math.round(statistics[graphs[i].name].standardDeviation) %> microseconds</td>
      </tr>
      <tr>
        <td>Variance</td>
        <td><%= Math.round(statistics[graphs[i].name].variance) %> microseconds</td>
      </tr>
      <tr>
        <td>Min</td>
        <td><%= Math.round(statistics[graphs[i].name].min) %> microseconds</td>
      </tr>
      <tr>
        <td>Max</td>
        <td><%= Math.round(statistics[graphs[i].name].max) %> microseconds</td>
      </tr>
    </tbody>
  </table>
  <% } %>
<% } %>
</body>
</html>